.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Firefox */
    height: -moz-calc(100% - 60px);
    /* WebKit */
    height: -webkit-calc(100% - 60px);
    /* Opera */
    height: -o-calc(100% - 60px);
    /* Standard */
    height: calc(100% - 60px);
}

.inner-container {
    width: 250px;
    margin: 10px;
    padding: 10px;
    background: #21212109;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

}

.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: flex-start;
    place-content: flex-start;
}

.cat-header {
    background: whitesmoke;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 10px;
    color: #282c34;
    font-weight: bold;
}

.fixed-btn{
    position: absolute;
    right:10px;
    top:5px;
}